@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to the top of your globals.css file */
html, body {
    background-color: rgb(31, 41, 55); /* This is the tailwind bg-gray-900 color */
    min-height: 100%;
    overflow-x: hidden;
  }


:root {
    --background: #000000;
    --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #000000;
        --foreground: #ffffff;
    }
}

body {
    color: var(--foreground);
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.readme-content h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.readme-content p {
    margin: 1rem 0;
}

.readme-content code {
    background-color: #f6f8fa;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
}
